@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
  @apply bg-darks;
}

.hero-text h1 {
  line-height: 120%;
}

.navbar-item {
  font-size: 1rem;
}

.scroll-top {
  @apply right-28;
}

.navbar {
  width: 100%;
}

.navbar-hero {
  background-image: url('../public/hero-bg.jpg');
  background-position: center center;
  background-size: cover;
  width: 100% !important;
  @apply text-white;
  background-repeat: no-repeat;
}

.btn-primary {
  @apply bg-primary text-black;
}

.btn-secondary:hover {
  @apply btn-primary transition-all;
}

.btn-secondary {
  @apply bg-secondary text-black transition-all;
}

.btn-darks {
  @apply bg-darks text-white;
}

.btn-sdark {
  @apply bg-sdark text-white;
}

.btn-darks:hover {
  @apply bg-sdark text-primary transition-all;
}

.btn-sdark:hover {
  @apply bg-darks text-primary transition-all;
}

.btn-lg {
  width: 200px;
  height: 48px;
}
/* html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
} */
